* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary

/apps/web/public/** -diff linguist-generated
/docs/** linguist-documentation
